<!DOCTYPE html>
<html>
  <head>
    <title>High Severity Alert</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        background-color: #ff4d4d;
        color: #fff;
        padding: 10px;
        text-align: center;
      }
      .content {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>High Severity Alert</h2>
      </div>
      <div class="content">
        <p><strong>Message:</strong> {{message}}</p>
        <p><strong>Source:</strong> {{source}}</p>
        <p><strong>Type:</strong> {{type}}</p>
      </div>
    </div>
  </body>
</html>