.signup-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-page form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-page label {
    margin-bottom: 5px;
  }
  
  .signup-page input {
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .signup-page button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }