.alert-list {
    margin-top: 20px;
  }
  
  .alert-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .alert-list th,
  .alert-list td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .alert-list th {
    background-color: #f2f2f2;
  }
  
  .alert-list td button {
    margin-right: 5px;
  }