.alert-form {
    margin-bottom: 20px;
  }
  
  .alert-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .alert-form input,
  .alert-form textarea,
  .alert-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .alert-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: 5px;
  }

  .btn{
    margin-top: 20px;
  }