/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

/* Links */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #666;
}

/* Buttons */
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.mb-2 {
  margin-bottom: 2rem;
}